<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <file>sdp_console.log</file>
	    <encoder>
	      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %replace(%msg){'\n', ''} %replace(%ex){'[\r\n]+', ' '}%nopex%n</pattern>
	    </encoder>
	</appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
  <!--   <encoder>
      <pattern>%d{M:D HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %replace(%msg){'\n', ' '} %replace(%ex){'[\r\n]+', ' '}%nopex%n</pattern>
    </encoder> -->
  </appender>


<!-- <logger name="org.apache.camel.component.sql" level="trace"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger> -->
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
