<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:camel="http://camel.apache.org/schema/spring"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans      http://www.springframework.org/schema/beans/spring-beans.xsd              http://www.springframework.org/schema/context      http://www.springframework.org/schema/context/spring-context.xsd       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd ">
    <bean class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close" id="traceLogDs">
        <property name="driverClassName" value="${trace.jdbc.driverClassName}"/>
        <property name="url" value="${trace.jdbc.url}"/>
        <property name="username" value="${trace.jdbc.username}"/>
        <property name="password" value="${trace.jdbc.password}"/>
    </bean>
    <bean class="gov.cdc.sdp.cbr.trace.TraceService" id="bean-a6970cd6-a33d-4d3c-a367-abeedbb751b7">
        <constructor-arg index="0" ref="traceLogDs"/>
        <constructor-arg index="1" value="${trace.tableName}"/>
    </bean>
    <bean
        class="org.apache.camel.spring.spi.BridgePropertyPlaceholderConfigurer" id="bridgePropertyPlaceholder">
        <property name="location" value="classpath:application.properties"/>
    </bean>
    <camelContext id="camel" trace="false" xmlns="http://camel.apache.org/schema/spring">
        <propertyPlaceholder id="properties" location="application.properties"/>
        <route id="aphls3_test_route">
            <from id="from_test" uri="direct:test-target"/>
            <to id="to_test" uri="mock:mock_endpoint"/>
        </route>
    </camelContext>
</beans>
